body {
    margin: 0;
    padding: 0;
    background-color: #16161d;
  }

hr {
  margin: 0px;
  height: 3px;
  border-width: 0;
  color: #be7eb9;
  background-color: #be7eb9;
}

h1 {
  color: #be7eb9;
  font: bolder 30px "Arial Black", Gadget, sans-serif;
  text-align: center;
}

.intro {
  font: italic bold 14px;
  font-family: "Lucida Console", Monaco, monospace sans-serif;
  text-align: left;
  color: #be7eb9;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search-bar {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 40px;
  background: #554d81;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  transition: 0.4s;
}

.search-bar:hover .search-text {
  width: 300px;
  padding: 0 6px;
}

.search-bar:hover {
  width: 366px;
}

.search-bar:hover .search-button {
  width: 40px;
  background: white;
  color: black;
}

.search-button .search-icon {
  font-size: 30px;
}

.search-bar:focus-within .search-text {
  width: 300px;
  padding: 0 6px;
}

.search-bar:focus-within {
  width: 366px;
}

.search-bar:focus-within .search-button {
  width: 40px;
  background: white;
  color: black;
}

.search-button {
  color: #be7eb9;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #554d81;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
}

.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: 0.4s;
  line-height: 40px;
  width: 0;
  max-width: calc(100% - 40px);
}

.search-icon {
  width: 30px;
  height: 30px;
}

table, td {
  border: 1px solid #8084b3;
  background: #554d81;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 10px;
  text-align: left;
  color: #be7eb9;
}

th {
  border: 1px solid #8084b3;
  background: #be7eb9;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 115%;
  color: #554d81;
}

tr:hover {
  background:#f5f5f5; /* why you no work color hover?*/
}

.poll {
  margin-top:50%;
  margin-bottom:50%;
  margin-left: auto;
  margin-right: auto;
}

.flashes {
  font: italic bold 20px Consolas, sans-serif;
  text-align: center;
  color: #be7eb9;
  background: #d3eeff;
}