<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    {% block head %}{% endblock %}
    
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='assets/staticscore_favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <h1>Staticscore Movie Rankings</h1>
    <hr>
    <div style="display:flex;justify-content:center;flex-direction:row;flex-flow:center;align-items:center;">        
      <div style="padding:0px 30px 0px 30px;max-height:400px;transform:translate(30px);">
        <p class="intro">
          Posiscores are measure of a movie's quality. Objectively, 
          did the movie have quality acting, writing, cinematography, practical effects? 
          This score doesn't take into account how much you liked the movie, 
          so don't let your personal enjoyment influence this score.
        </p>
      </div>
      <div>
        <a href="/">
          <img
          src="{{ url_for('static', filename='assets/StaticScoreLogo.png') }}"
          alt="Static Score Logo"
          class="center"
          style="flex-basis:100%;max-width:764px;min-width:350px;"
          />
        </a>
      </div>
      <div style="padding:0px 30px 0px 30px;max-height:400px;transform:translate(-30px);">
        <p class="intro" style="min-width:110px;">
          Negascores are the opposite of posiscores. They are all about subjectivity. 
          Who cares how incredible (or utterly awful) the CGI was! Negascores measures 
          how much you like a movie. Let this score show how beloved or despised you 
          find the number one critic's choice (or how you unironically adore "The Room").
        </p>
      </div>
    </div>
    <hr>
    <div class="search-bar">
      <form action="/results" method="GET">
        <input
          id="search"
          class="search-text"
          type="search"
          name="search"
          placeholder="Type to search for a movie"
        />
        <button type="submit" class="search-button">
          <img
            class="search-icon"
            src="{{ url_for('static', filename='assets/search-icon.png') }}"
            alt="search icon"
          />
        </button>
      </form>
    </div>
    
    {% with messages = get_flashed_messages() %} <!-- ah geez, gotta style the flash messages-->
      {% if messages %}
        <div class="flashes">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}
    
    <a href="/rankings">
      <h1>
        See all movie rankings
      </h1>
    </a>
    
  </body>
</html>