{% extends 'base.html' %}


{% block head %}
<title>StaticScore Movie Rankings</title>

{% endblock %}


{% block body %}

<h1>
  TOP 10 MOVIES RANKED
</h1>

<div style="display:flex;justify-content:center;align-items:center;">
  <div style="padding:40px;padding-top:120px;">
      <table>
          <caption>POSISCORE RANKINGS</caption>
              <tr>
                  <th>Movie</th>
                  <th>Posiscore</th>
              </tr>
              {% for movie in top_posi %}
                {% set poster_path = "https://image.tmdb.org/t/p/w500" + movie['poster_path'] %}
                  <tr>
                      <td>
                        <a href="https://www.themoviedb.org/movie/{{ movie['tmdb_id'] }}-{{ movie['movie_name'] }}">
                          <img src="{{ poster_path }}" style="height:100px;"/>
                        </a> 
                        <a href="https://www.themoviedb.org/movie/{{ movie['tmdb_id'] }}-{{ movie['movie_name'] }}">
                          {{ loop.index }}. {{ movie['movie_name'] }} ({{ movie['release_date'] }})
                        </a>
                      </td>
                      <td>
                        {{ "{:.2f}".format(movie['ave_posiscore']) }}
                      </td>
                  </tr>
              {% endfor %}
      </table>
  </div>
  <div style="padding:40px;">
      <table>
          <caption>COMBINED SCORE RANKINGS</caption>
              <tr>
                  <th>Movie</th>
                  <th>Combined Score</th>
              </tr>
              {% for movie in top_comb %}
                {% set poster_path = "https://image.tmdb.org/t/p/w500" + movie['poster_path'] %}
                  <tr>
                      <td>
                        <a href="https://www.themoviedb.org/movie/{{ movie['tmdb_id'] }}-{{ movie['movie_name'] }}">
                          <img src="{{ poster_path }}" style="height:100px;"/>
                        </a> 
                        <a href="https://www.themoviedb.org/movie/{{ movie['tmdb_id'] }}-{{ movie['movie_name'] }}">
                          {{ loop.index }}. {{ movie['movie_name'] }} ({{ movie['release_date'] }})
                        </a>
                      </td>
                      <td>{{ "{:.2f}".format(movie['ave_combscore']) }}</td>
                  </tr>
              {% endfor %}
      </table>
  </div>
  <div style="padding:40px;padding-top:120px;">
      <table>
          <caption>NEGASCORE RANKINGS</caption>
              <tr>
                  <th>Movie</th>
                  <th>Negascore</th>
              </tr>
              {% for movie in top_nega %}
                {% set poster_path = "https://image.tmdb.org/t/p/w500" + movie['poster_path'] %}
                  <tr>
                      <td>
                        <a href="https://www.themoviedb.org/movie/{{ movie['tmdb_id'] }}-{{ movie['movie_name'] }}">
                          <img src="{{ poster_path }}" style="height:100px;"/>
                        </a> 
                        <a href="https://www.themoviedb.org/movie/{{ movie['tmdb_id'] }}-{{ movie['movie_name'] }}">
                          {{ loop.index }}. {{ movie['movie_name'] }} ({{ movie['release_date'] }})
                        </a>
                      </td>
                      <td>{{ "{:.2f}".format(movie['ave_negascore']) }}</td>
                  </tr>
              {% endfor %}
      </table>
  </div>
</div>

{% endblock %}