{% extends 'base.html' %}


{% block head %}
<title>StaticScore Movie Rankings</title>

{% endblock %}


{% block body %}

<h1>
  ALL MOVIES RANKED
</h1>

<div style="display:flex;justify-content:center;align-items:center;">
  <div style="padding:40px;padding-top:120px;">
      <table>
          <caption>POSISCORE RANKINGS</caption>
              <tr>
                  <th>Movie</th>
                  <th>Posiscore</th>
              </tr>
              {% for movie in posi_rank %}
                  <tr>
                      <td>{{ loop.index }}. {{ movie['movie_name'] }}</td>
                      <td>{{ "{:.2f}".format(movie['ave_posiscore']) }}</td>
                  </tr>
              {% endfor %}
      </table>
  </div>
  <div style="padding:40px;">
      <table>
          <caption>COMBINED SCORE RANKINGS</caption>
              <tr>
                  <th>Movie</th>
                  <th>Combined Score</th>
              </tr>
              {% for movie in comb_rank %}
                  <tr>
                      <td>{{ loop.index }}. {{ movie['movie_name'] }}</td>
                      <td>{{ "{:.2f}".format(movie['ave_combscore']) }}</td>
                  </tr>
              {% endfor %}
      </table>
  </div>
  <div style="padding:40px;padding-top:120px;">
      <table>
          <caption>NEGASCORE RANKINGS</caption>
              <tr>
                  <th>Movie</th>
                  <th>Negascore</th>
              </tr>
              {% for movie in nega_rank %}
                  <tr>
                      <td>{{ loop.index }}. {{ movie['movie_name'] }}</td>
                      <td>{{ "{:.2f}".format(movie['ave_negascore']) }}</td>
                  </tr>
              {% endfor %}
      </table>
  </div>
</div>

{% endblock %}